aioredis==1.3.1
appdirs==1.4.4
argcomplete==1.12.0
asgiref==3.3.4
async-timeout==3.0.1
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
Beaker==1.10.0
beautifulsoup4==4.9.3
blivet==3.3.3
blivet-gui==2.2.1
Brlapi==0.8.2
cffi==1.14.5
channels==3.0.3
channels-redis==3.2.0
chardet==4.0.0
chrome-gnome-shell==0.0.0
constantly==15.1.0
cryptography==3.4.7
cupshelpers==1.0
daphne==3.0.2
dasbus==1.4
dbus-python==1.2.16
decorator==4.4.2
distlib==0.3.1
distro==1.5.0
Django==3.2
django-crispy==1.8.1
django-crispy-forms==1.11.2
django-friendship==1.9.1
django-multiselectfield==0.1.12
filelock==3.0.12
fros==1.1
gpg==1.15.1
hiredis==2.0.0
humanize==0.5.1
hyperlink==21.0.0
idna==3.1
incremental==21.3.0
langtable==0.0.54
libcomps==0.1.15
lxml==4.6.3
Mako==1.1.4.dev0
MarkupSafe==1.1.1
msgpack==1.0.2
nftables==0.1
olefile==0.46
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
Pillow==8.2.0
ply==3.11
productmd==1.32
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.43.0.6
pyenchant==3.2.0
PyGObject==3.40.1
pykickstart==3.32
pyOpenSSL==20.0.1
pyparted==3.11.7
PySocks==1.7.1
python-augeas==0.5.0
python-dateutil==2.8.1
python-meh==0.50
pytz==2021.1
pyudev==0.22.0
pyxdg==0.27
requests==2.25.1
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.16.1.3
selinux==3.2
sepolicy==3.2
service-identity==18.1.0
setools==4.4.0
simpleline==1.8
six==1.15.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.1
soupsieve==2.2
sqlparse==0.4.1
swtpm-localca==0.5.2
swtpm-setup==0.5.2
systemd-python==234
Tempita==0.5.1
Twisted==21.2.0
txaio==21.2.1
urllib3==1.25.10
virtualenv==20.4.0
zope.interface==5.4.0
