{% extends 'base_auth_reg.html' %}

{% block form %}

    <form class="login" method="POST" action="">
        {% csrf_token %}
        <span class="login100-form-title p-b-20">
						KATKA.FUN
					</span>
        <span class="login100-form-podtitle">Вход в личный кабинет</span>

        {% if form.errors %}
            <p style="text-align: center; color: red">Ваше имя пользователя и пароль не совпадают.<br>Пожалуйста,
                попробуйте еще раз.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <p><label for="id_login">Логин:</label>
            <input class="form-control m-b-10" type="text" name="username" autocomplete="login" required
                   id="id_login"></p>
        <p><label for="id_password">Пароль:</label>
            <input class="form-control m-b-10" type="password" name="password"
                   autocomplete="current-password"
                   required id="id_password"></p>

        <div style="  display: flex; justify-content: space-between">
            <div>
                <p><label for="id_remember">Запомнить меня:</label>
                    <input class="m-l-10" type="checkbox" name="remember"
                           id="id_remember"></p>
            </div>
            <div>
                <a class="button secondaryAction" href="">Забыли пароль?</a>
            </div>
        </div>

        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button type="submit" class="login100-form-btn">
                    Войти
                </button>
            </div>
        </div>
        <div class="txt1 text-center p-b-20">
                        <span>
                            Вход через соц.сети:
                        </span>
        </div>
        <div class="flex-c-m">
            <a href="#" class="login100-social-item bg1">
                <i class="fa fa-facebook"></i>
            </a>

            <a title="VK" href="" class="login100-social-item bg2"><i
                    class="fa fa-vk"></i></a>

            <a href="#" class="login100-social-item bg3">
                <i class="fa fa-google"></i>
            </a>
        </div>
        <div class="flex-col-c p-t-155">
                    <span class="txt1 p-b-5">
                        Нет аккаунта?
                    </span>
            <a style="text-decoration: underline" href="{% url 'signup' %}">Регистрация</a>
        </div>
        <br>
        <p style="text-align: center">Готовность проекта</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 26%;" aria-valuenow="26" aria-valuemin="0"
                 aria-valuemax="100">26%
            </div>
        </div>

    </form>

{% endblock %}

