{% extends 'base_katka.html' %}

{% block title %}<title>Все пользователи Katka</title>{% endblock %}

{% block links %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css' %}"/>

{% endblock %}



{% block content %}

    <div class="mainblock">
        <div class="div-block-51"><h4 class="heading-10">Все пользователи</h4></div>
        <div class="div-block-52">
            <div class="div-block-40">
                <div class="container-7 w-container">
                    {% for users in usu %}

                        <div class="div-block-44">
                            <a href="{% url 'some' users.pk %}">
                                <div class="section-19">
                                    <img src="{% static 'img/user.png' %}"
                                         loading="lazy" width="50" height="50" alt="" class="image-22"/>
                                </div>
                                <div class="section-20">
                                    <div class="username">{{ users.first_name }} {{ users.last_name }}</div>
                                </div>
                            </a>
                            <div class="usertown">{{ users.profile.city }}</div>
                            <div class="blockuserbtn">
                                <button class="userbtn">Добавить</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}