{% extends 'base_katka.html' %}

{% block title %}<title>Все пользователи Katka</title>{% endblock %}

{% block links %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css' %}"/>

{% endblock %}



{% block content %}

    <div class="mainblock">
        <div class="div-block-51"><h6 class="heading-10">Все пользователи</h6></div>
        <div class="div-block-52">
            <div class="div-block-40">
                    <div class="container-7 w-container">
                        <div class="div-block-44">
                            <div class="section-19"><img
                                    src="https://uploads-ssl.webflow.com/5f1d72d3a5d4074a78fb17c3/5fb7c193eb305ec270f74501_iconfinder_profle_1055000.png"
                                    loading="lazy" width="50" height="50" alt="" class="image-22"/></div>
                            <div class="section-20">
                                <div>Ronald Berger</div>
                            </div>
                        </div>
                        <div class="div-block-44">
                            <div class="section-19"><img
                                    src="https://uploads-ssl.webflow.com/5f1d72d3a5d4074a78fb17c3/5fb7c193eb305ec270f74501_iconfinder_profle_1055000.png"
                                    loading="lazy" width="50" height="50" alt="" class="image-22"/></div>
                            <div class="section-20">
                                <div>John Smith</div>
                            </div>
                        </div>
                        <div class="div-block-44">
                            <div class="section-19"><img
                                    src="https://uploads-ssl.webflow.com/5f1d72d3a5d4074a78fb17c3/5fb7c193eb305ec270f74501_iconfinder_profle_1055000.png"
                                    loading="lazy" width="50" height="50" alt="" class="image-22"/></div>
                            <div class="section-20">
                                <div>Ronald Tester</div>
                            </div>
                        </div>
                        <div class="div-block-44">
                            <div class="section-19"><img
                                    src="https://uploads-ssl.webflow.com/5f1d72d3a5d4074a78fb17c3/5fb7c193eb305ec270f74501_iconfinder_profle_1055000.png"
                                    loading="lazy" width="50" height="50" alt="" class="image-22"/></div>
                            <div class="section-20">
                                <div>Jose Mourinho</div>
                            </div>
                        </div>
                                                <div class="div-block-44">
                            <div class="section-19"><img
                                    src="https://uploads-ssl.webflow.com/5f1d72d3a5d4074a78fb17c3/5fb7c193eb305ec270f74501_iconfinder_profle_1055000.png"
                                    loading="lazy" width="50" height="50" alt="" class="image-22"/></div>
                            <div class="section-20">
                                <div>Jose Mourinho</div>
                            </div>
                        </div>                        <div class="div-block-44">
                            <div class="section-19"><img
                                    src="https://uploads-ssl.webflow.com/5f1d72d3a5d4074a78fb17c3/5fb7c193eb305ec270f74501_iconfinder_profle_1055000.png"
                                    loading="lazy" width="50" height="50" alt="" class="image-22"/></div>
                            <div class="section-20">
                                <div>Jose Mourinho</div>
                            </div>
                        </div>                        <div class="div-block-44">
                            <div class="section-19"><img
                                    src="https://uploads-ssl.webflow.com/5f1d72d3a5d4074a78fb17c3/5fb7c193eb305ec270f74501_iconfinder_profle_1055000.png"
                                    loading="lazy" width="50" height="50" alt="" class="image-22"/></div>
                            <div class="section-20">
                                <div>Jose Mourinho</div>
                            </div>
                        </div>                        <div class="div-block-44">
                            <div class="section-19"><img
                                    src="https://uploads-ssl.webflow.com/5f1d72d3a5d4074a78fb17c3/5fb7c193eb305ec270f74501_iconfinder_profle_1055000.png"
                                    loading="lazy" width="50" height="50" alt="" class="image-22"/></div>
                            <div class="section-20">
                                <div>Jose Mourinho</div>
                            </div>
                        </div>                        <div class="div-block-44">
                            <div class="section-19"><img
                                    src="https://uploads-ssl.webflow.com/5f1d72d3a5d4074a78fb17c3/5fb7c193eb305ec270f74501_iconfinder_profle_1055000.png"
                                    loading="lazy" width="50" height="50" alt="" class="image-22"/></div>
                            <div class="section-20">
                                <div>Jose Mourinho</div>
                            </div>
                        </div>                        <div class="div-block-44">
                            <div class="section-19"><img
                                    src="https://uploads-ssl.webflow.com/5f1d72d3a5d4074a78fb17c3/5fb7c193eb305ec270f74501_iconfinder_profle_1055000.png"
                                    loading="lazy" width="50" height="50" alt="" class="image-22"/></div>
                            <div class="section-20">
                                <div>Jose Mourinho</div>
                            </div>
                        </div>






                    </div>
            </div>
        </div>
    </div>


{% endblock %}