{% extends 'base_katka.html' %}

{% block title %}<title>Создать Катку</title>{% endblock %}

{% block links %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'edit_profile/css/style_edit.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/activities.css' %}"/>




{% endblock %}



{% block content %}
    <div class="div-block m-t-50">
        <div class="div-block-33">
            <div class="form-block-2 w-form" style="margin-top: 20px; margin-bottom: 20px;">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><label for="city">Город:</label>
                        <input class="form-control" list="datalistOptions" required id="city" name="city"
                               placeholder="Начните вводить город и выберите из списка">
                        <datalist id="datalistOptions">
                            <option value="Москва">
                            <option value="Санкт-Петербург">
                            <option value="Нижний Новгород">
                            <option value="Казань">
                            <option value="Екатеринбург">
                        </datalist>
                    </p>
                    <p><label for="date">Укажите дату мероприятия:</label>
                    <div class="wrap-input100 validate-input m-b-20">
                        <input class="input5" required id="date" style="text-align: center; padding: 0;" type="date"
                               name="date">
                    </div>
                    <p><label for="time">Укажите время:</label>
                    <div class="wrap-input100 validate-input m-b-20">
                        <input class="input5" required id="time" style="text-align: center; padding: 0;" type="time"
                               name="time">
                    </div>
                    <hr>

                    <div class="input-group mb-3">
                        <div><p>Закрытая комната</p></div>
                        <div class="form-check form-switch" style="margin-left: 10px;">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                        </div>
                    </div>

                    <p><label for="descr">Описание:</label>
                        <textarea class="form-control" placeholder="..." id="descr" name="descr"
                                  style="height: 100px"></textarea>
                    </p>

                    <div class="section-16">
                        <div>
                            <div class="container-8 w-container">
                                <div style="text-align: center"><p>Выберите вид отдыха</p></div>
                            </div>
                            <div multiple="multiple">
                                <div class="items">
                                    <div class="container-7 w-container">
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/basketball.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/basketball.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/bicycle.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/bicycle.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/bowling.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/bowling.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/dancing.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/dancing.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/football.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/football.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/horse-riding.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/horse-riding.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/lifting.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/lifting.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/motocross.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/motocross.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/ping-pong.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/ping-pong.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/pullups.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/pullups.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/rolls.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/rolls.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/run.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/run.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/skate.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/skate.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/skiing.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/skiing.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/snowboard.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/snowboard.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/tennis.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/tennis.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/trekking.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/trekking.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/volleyball.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/volleyball.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/walking.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/walking.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="item">
                                            <input type="checkbox" name="katka_act" value="img/activity/yoga.png">
                                            <div class="item-content">
                                                <div class="div-block-31">
                                                    <span class="item-imgs">
                                                        <img src="{% static 'img/activity/yoga.png' %}"
                                                             loading="lazy" alt="" class="image-22"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div-block-34">
                        <button class="button-4 w-button" type="submit">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>

{% endblock %}