{#{% if user.is_authenticated %}#}

<!DOCTYPE html>
<html>
<head>
    {% block title %}<title></title>{% endblock %}
    {% block links %}
        {% load static %}
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap-grid.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap-reboot.css' %}"/>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "js/bootstrap.bundle.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/popper.js" %}"></script>
    {% endblock %}
</head>


<body class="body-2">
<div data-collapse="none" data-animation="default" data-duration="400" role="banner" class="navbar-4 w-nav">
    <div style="width: 100%">
        <div style="float: left">
            <div class="btn-group dropright">
                <button type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"
                        style="background: none; outline: none; border: none">
                    <div class="div-block-7"><img
                            src="{% static 'img/nav-icons/nav-face.png' %}" width="30"
                            height="30" alt="" class="image"/>
                        <div class="text-block-12">{{ user.first_name }}</div>
                    </div>
                </button>
                <div class="dropdown-menu">
                    <a id="dr-item" class="dropdown-item" href="{% url 'edit_profile' %}">Редактировать профиль</a>
                    <a id="dr-item" class="dropdown-item" href="#">Настройки</a>
                    <a id="dr-item" class="dropdown-item" href="#">Контакты</a>
                    <div class="dropdown-divider"></div>
                    <a id="dr-item" class="dropdown-item" href="{% url 'logout' %}">Выход</a>
                </div>
            </div>
        </div>
        <div style="float: right">
            <div class="btn-group dropleft">
                <button type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="background: none; outline: none;border: none">
                    <div class="div-block-8"><img
                            src="{% static 'img/nav-icons/nav-bell.png' %}"
                            width="25" height="25" alt="" class="image-2"/><span class="badge badge-light">3</span>
                    </div>
                </button>
                <div class="dropdown-menu" style="width: 300px;" aria-labelledby="dropdownMenuButton">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Новый участник</h5>
                            </div>
                            <p class="mb-1">Пользователь User User вступил в ваше событие</p>
                            <small>3 days ago</small>
                        </a>
                                                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Новый участник</h5>
                            </div>
                            <p class="mb-1">Пользователь User User вступил в ваше событие</p>
                            <small>3 days ago</small>
                        </a>
                                                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Новый участник</h5>
                            </div>
                            <p class="mb-1">Пользователь User User вступил в ваше событие</p>
                            <small>3 days ago</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<div data-collapse="none" data-animation="default" data-duration="400" role="banner" class="navbar-5 w-nav">
    <div class="div-block-2">
        <nav role="navigation" class="nav-menu-4 w-nav-menu">
            <div class="container-5 w-container">
                <a href="{% url 'main' %}" style="text-decoration: none;">
                    <div class="nav-sec"><img
                            src="{% static 'img/nav-icons/home.png' %}"
                            width="25" height="25" alt=""/>
                        <div class="text-block-8">Главная</div>
                    </div>
                </a>
                <a href="{% url 'profile' %}" style="text-decoration: none;">
                    <div class="nav-sec"><img
                            src="{% static 'img/nav-icons/profile.png' %}"
                            width="25" height="25" alt=""/>
                        <div class="text-block-8">Профиль</div>
                    </div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="nav-sec"><img
                            src="{% static 'img/nav-icons/users.png' %}"
                            width="25" height="25" alt=""/>
                        <div class="text-block-8">Люди</div>
                    </div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="nav-sec"><img
                            src="{% static 'img/nav-icons/news.png' %}"
                            width="25" height="25" alt=""/>
                        <div class="text-block-8">Лента</div>
                    </div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="nav-sec"><img
                            src="{% static 'img/nav-icons/map.png' %}"
                            width="25" height="25" alt=""/>
                        <div class="text-block-8">Карта</div>
                    </div>
                </a>
            </div>
        </nav>
    </div>
</div>

{% block content %}
{% endblock %}


</body>
</html>

{#{% else %}#}
{#    <div style="margin-top: 400px;text-align: center">#}
{#        <strong>Вы не авторизованы</strong><br>#}
{#        <a href="{% url 'login' %}">Авторизация</a>#}
{#    </div>#}
{#{% endif %}#}
