{% extends 'base_katka.html' %}

{% block title %}<title>KATKA.FUN | Главная страница</title>{% endblock %}

{% block links %}
    {{ block.super }}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style_main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}"/>

{% endblock %}


{% block content %}

    <div class="div-block">
        <div class="columns w-row">
            <!--                                             ЛЕВЫЙ БЛОК -->
            <div class="column-4 w-col w-col-8 w-col-stack">
                <div class="leftblock">
                    <div class="banner-section" style="height: 800px;">
                        <table class="scroll">
                            <div class="table-caption">
                                <a href="{% url 'create_katka' %}">
                                    <button type="button" class="btn btn-info">Создать</button>
                                </a>
                                <div class="btn-group dropleft dropdown">
                                    <button type="button" class="btn btn-secondary dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Сортировать
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a id="dr-item" class="dropdown-item" href="#">Москва</a>
                                        <a id="dr-item" class="dropdown-item" href="#">Санкт-Петербург</a>
                                        <a id="dr-item" class="dropdown-item" href="#">Казань</a>
                                    </div>
                                </div>
                            </div>
                            <thead>
                            <tr style="cursor: default;">
                                <th class="table-th" id="th-id" style="width: 10%" scope="col">ID</th>
                                <th class="table-th" id="th-town" scope="col">Город</th>
                                <th class="table-th" id="th-date" scope="col">Дата/время</th>
                                <th class="table-th" id="th-transport" style="width: 15%" scope="col">Вид</th>
                                <th class="table-th" id="th-status" style="width: 15%" scope="col">?</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for katka in ktk %}
                                <tr onclick="document.location = '{{ katka.get_absolute_url }}';">
                                    <td aria-label="ID">{{ katka.id }}</td>
                                    <td aria-label="Город">{{ katka.city }}</td>
                                    <td aria-label="Дата/время">{{ katka.date }} / ({{ katka.time }})</td>
                                    <td aria-label="Вид"><img src="{% static 'img/activity/skate.png' %}" width="30"
                                                              height="30">
                                    </td>
                                    <td aria-label="Статус"><img src="{% static 'img/unlock.png' %}" width="30"
                                                                 height="30">
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--                                             ПРАВЫЙ БЛОК -->

            <div class="column w-col w-col-4 w-col-stack">
                <div class="section mt-3">
                    <blockquote class="block-quote">
                        <p>Статьи <span class="badge badge-secondary">новые</span></p>
                    </blockquote>
                </div>
                <div class="div-block-5">
                    <div class="card mb-3">
                        <img src="{% static 'img/example_gallery/img5.jpg' %}"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title"><b>Единый день велопарадов в России</b></p>
                            <p class="card-text">Дептранс Москвы не согласовал проведение 20-го Московского Велопарада
                                за развитие велосипедной инфраструктуры и безопасность на дорогах. Он был запланирован
                                на 26 мая...</p>
                            <p class="card-text"><small class="text-muted">23.03.2020 12:22</small></p>
                            <span class="badge badge-primary">Велосипед</span>
                            <span class="badge badge-secondary">Freeride</span>
                            <span class="badge badge-success">ПВД</span>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <blockquote class="block-quote">
                        <p>Партнёры <span class="badge badge-secondary">все</span></p>
                    </blockquote>
                </div>
                <div>
                    <ul role="list" class="w-list-unstyled">
                        <li class="list-item-2">
                            <div class="columns-9 w-row">
                                <div class="w-col w-col-8"><a href="index.html#" class="link">katka.fun</a></div>
                                <div class="w-col w-col-4">
                                    <div class="text-block-16">★★★★★</div>
                                </div>
                            </div>
                        </li>
                        <li class="list-item-3">
                            <div class="columns-9 w-row">
                                <div class="w-col w-col-8"><a href="index.html#" class="link">Вело магазин</a></div>
                                <div class="w-col w-col-4">
                                    <div class="text-block-16">★★★★☆</div>
                                </div>
                            </div>
                        </li>
                        <li class="list-item-4">
                            <div class="columns-9 w-row">
                                <div class="w-col w-col-8"><a href="index.html#" class="link">Прокат в парке
                                    Горького</a>
                                </div>
                                <div class="w-col w-col-4">
                                    <div class="text-block-16">★★★☆☆</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="section">
                    <blockquote class="block-quote">
                        <p>Популярные города</p>
                    </blockquote>
                </div>
                <div>
                    <ol role="list" class="w-list-unstyled">
                        <li class="list-item">
                            <div class="columns-5 w-row">
                                <div class="w-col w-col-8">
                                    <div class="text-block-11">Москва</div>
                                </div>
                                <div class="w-col w-col-4">
                                    <div class="text-block-11">23</div>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="columns-5 w-row">
                                <div class="w-col w-col-8">
                                    <div class="text-block-11">Санкт-Петербург</div>
                                </div>
                                <div class="w-col w-col-4">
                                    <div class="text-block-11">17</div>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="columns-5 w-row">
                                <div class="w-col w-col-8">
                                    <div class="text-block-11">Нижний Новгород</div>
                                </div>
                                <div class="w-col w-col-4">
                                    <div class="text-block-11">3</div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


{% endblock %}