.mainblock {
    margin-top: 80px;
}

.div-block-51 {
    text-align: center;
}

.srchh {
    width: auto;
}

#myTabContent {
    padding-top: 15px;
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
}

.nav_all_users {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.username {
    color: #393939;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}

.usertown {
    text-align: center;
    font-size: 14px;

}

.blockuserbtn {
    text-align: center;
    padding-top: 15px;
}

.userbtn {
    color: white;
    height: 40px;
    width: 100%;
    border-style: none;
    border-width: 1px;
    border-color: #1f282d;
    border-radius: 5px;
    background-color: #2b3239;
    font-family: Exo, sans-serif;
}

.heading-10 {
    border-style: none;
    border-width: 1px;
    border-color: #000;
    font-family: Exo, sans-serif;
    color: #525252;
}

.count-statistic {
    margin-top: 15px;
    text-align: center;
}

.div-block-52 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.div-block-40 {

}

.div-block-44 {
    margin: 5px 5px 10px;
    padding: 15px;
    border: 1px solid #d2d2d2;
}

.imagew-22 {
    width: 50px;
    height: 50px;
    margin: 5px;
    object-fit: cover;
    border-radius: 100px;
}


.section-19 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-20 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-7 {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-bottom: 1px none #c4c3c3;
}

@media screen and (max-width: 991px) {

    .nav_all_users {
        width: 80%;
    }

}

@media screen and (max-width: 767px) {

    .nav_all_users {
        width: 95%;
    }

    .imagew-22 {
        width: 40px;
        height: 40px;
    }

    .username {
        font-size: 14px;
        font-weight: 700;
    }

    .usertown {
        font-size: 12px;

    }

    .userbtn {
        height: 40px;
        width: 100%;

    }

    .userbtn text {
        font-size: 14px;
    }

    #myTabContent {
        border-left: none;
        border-right: none;
    }

    .count-statistic {
        margin-top: 40px;
        text-align: center;
    }


}
